<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tv_show_app/css/index.css' %}">
</head>
<body>
    <div class="container">
        <a class="gob" href="/shows">Go Back</a>
        <h1 class="form_l">Edit Show </h1>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/shows/{{show_info.id}}/update" method="POST">
            {% csrf_token %}
            <label for="title">Title</label>
            <input class="input1" type="text" name="title" id="title" value="{{show_info.title}}">
            <label for="network">Network</label>
            <input class="input2" type="text" name="network" id="network" value="{{show_info.network}}">
            <label for="release_date">Release Date</label>
            <input class="input3" type="date" name="release_date" id="release_date" value="{{show_info.release_date|date:"Y-m-d"}}">
            <label class="input4" for="desc">Description</label>
            <textarea class="input4" name="description" id="desc">{{show_info.description}}</textarea>
            <input class="input5" type="submit" value="Update">
        </form>
    </div>
</body>
</html>